{% extends 'layout.html' %}
{% block content %}
<div class="container-sm">  
    <!--Drop down menu for sorting database-->
    <div class="dropdown" style="padding:15px; text-align: center;">
      <b style="display: inline-block; font-size: 15px;">Sort By: </b>
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Categories
      </button>
      <ul class="dropdown-menu">
        <!--Connect selections to sorting data-->
        <li><a class="dropdown-item" href="#">Name</a></li>
        <li><a class="dropdown-item" href="#">Company</a></li>
        <li><a class="dropdown-item" href="#">Job Title</a></li>
        <li><a class="dropdown-item" href="#">Gnome</a></li>
      </ul>
    </div>

    <!--Displays database table-->
    <div class="page-container">
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Blank</th>
              <th scope="col">Blank</th>
              <th scope="col">Blank</th>
              <th scope="col">Blank</th>
            </tr>
          </thead>
          <tbody>
          <!--Create data entries based on number of connections in database-->
          <tr>
            <th scope="row">James</th>
            <td>N/A</td>
            <td>Jumper</td>
            <td>UofT</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>  
<script src="../static/assets/dist/js/bootstrap.bundle.min.js"></script>
{% endblock content %}
    