
{% extends 'layout.html' %}
{% block content %}
    <!--Drop down menu for sorting database-->
    <div class="dropdown" style="padding:15px; text-align: center;">
      <b style="display: inline-block; font-size: 15px;">Sort By: </b>
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Categories
      </button>
      <ul class="dropdown-menu">
        <!--Connect selections to sorting data-->
        <li><a class="dropdown-item" href="#">Name</a></li>
        <li><a class="dropdown-item" href="#">Company</a></li>
        <li><a class="dropdown-item" href="#">Job Title</a></li>
        <li><a class="dropdown-item" href="#">Education</a></li>
      </ul>
    </div>

    <!--Displays database-->
    <div style="padding:20px">
      <table class="table table-striped" id="data">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Company</th>
              <th scope="col">Job Title</th>
              <th scope="col">Education</th>
            </tr>
          </thead>
          <tbody>
          <!--Create data entries based on number of connections in database-->
            <script>
              import relationships from '../data/relationshipData.json' assert {type: 'json'};
              const obj = JSON.parse(relationships);
            </script>
            {% for person in obj.relationships %}
              <tr>
                <th scope="row">{{person.firstName obj.lastName}}</th>
                <td>{{person.company()}}</td>
                <td>{{person.jobTitle()}}</td>
                <td>{{person.education()}}</td>
              </tr>
            {% endfor %}
            <!--
            <tr>
              <th scope="row">John Doe</th>
              <td>N/A</td>
              <td>Freelancer</td>
              <td>Bachelors in Genshin</td>
            </tr>
            <tr>
              <th scope="row">Mary Doe</th>
              <td>N/A</td>
              <td>Freelancer</td>
              <td>Bachelors in Honkai</td>
            </tr>
            -->
          </tbody>
        </table>
      </div>
    <script src="../static/assets/dist/js/bootstrap.bundle.min.js"></script>
{% endblock content %}
    