{% extends 'layout.html' %}
{% block content %}

<script src="../static/assets/dist/js/bootstrap.bundle.min.js"></script>

<div class="container">  
  <!--Drop down menu for sorting database-->
  <div style="padding:15px; text-align: center;">
    <h style="font-size: x-large;"><b>Connections:</b></h>
  </div>

  <!--Displays database table-->
  <div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Company</th>
            <th scope="col">Job Title</th>
            <th scope="col">Education</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row" id="name1"></th>
          <td id="company1"></td>
          <td id="job1"></td>
          <td id="education1"></td>
        </tr>

        <tr>
          <th scope="row" id="name2"></th>
          <td id="company2"></td>
          <td id="job2"></td>
          <td id="education2"></td>
        </tr> 

        <tr>
          <th scope="row" id="name3"></th>
          <td id="company3"></td>
          <td id="job3"></td>
          <td id="education3"></td>
        </tr>

        <tr>
          <th scope="row" id="name4"></th>
          <td id="company4"></td>
          <td id="job4"></td>
          <td id="education4"></td>
        </tr>

        <tr>
          <th scope="row" id="name5"></th>
          <td id="company5"></td>
          <td id="job5"></td>
          <td id="education5"></td>
        </tr>

        <tr>
          <th scope="row" id="name6"></th>
          <td id="company6"></td>
          <td id="job6"></td>
          <td id="education6"></td>
        </tr>

        <tr>
          <th scope="row" id="name7"></th>
          <td id="company7"></td>
          <td id="job7"></td>
          <td id="education7"></td>
        </tr> 

        <tr>
          <th scope="row" id="name8"></th>
          <td id="company8"></td>
          <td id="job8"></td>
          <td id="education8"></td>
        </tr> 

        <tr>
          <th scope="row" id="name9"></th>
          <td id="company9"></td>
          <td id="job9"></td>
          <td id="education9"></td>
        </tr> 

        <tr>
          <th scope="row" id="name10"></th>
          <td id="company10"></td>
          <td id="job10"></td>
          <td id="education10"></td>
        </tr> 
        </tbody>
        <script type="module" src="{{url_for('static', filename='database.js')}}">
        </script>
    </table>
  </div>
</div>
{% endblock content %}
    