{% extends 'layout.html' %}
{% block content %}

      <div style="width: 100%;">
        <div class="p-5 mb-4 mt-5 ml-4 bg-light rounded-4" style="margin-top: 100px; margin-left: 125px; margin-right: 100px; background-image: url_for('static', filename='/assets/homePageImage.jpg'); height: 590px; width: 78.2%;">
          <div class="container-fluid py-5 rounded-4" style="background-color: rgba(255, 255, 255, 0.6); width: 40%; margin-left: 0; margin-top: 250px;">
            <h1 class="display-3 fw-bold">Link</h1>
            <p class="col-md-17 fs-4">Unleash the power of your network.</p>
          </div>
        </div>
        <div style="margin-top: 20px; margin-left: 125px; margin-right: 100px;">
          <h4 style="text-align:center">Learn More</h4>
          <p style="text-align:center">🢓</p>
        </div>
        <div class="d-flex justify-content-between" style="margin-top: 100px; margin-left: 125px; margin-right: 100px; width: 78.2%;">
          <div style="width: 120%; padding: 20px; margin-right: 15px;">
            <h2>Your network. Like you've never seen it before.</h2>
            <p style="text-align: justify; margin-top: 20px; font-size: large;">Link is a revolutionary new way to manage, grow, and imagine your network. Networking may sometimes feel like a vast ocean of uncertainty. Link aims to make networking simple for beginners. With an easy interface to add, store and manage connections, smart suggestions to build, improve and maintain your network, and an amazing visualization tool, Link is the perfect way to enhance your network.</p>  
          </div>
          <div>
            <img src="{{url_for('static', filename='/assets/105913374-1557887689717gettyimages-952625346.jpeg')}}" style="width:100%; padding: 25px; border-radius: 10%;">
          </div>
        </div>
        <div style="text-align:center; padding:5%;">
          <h1>Take control of your professional life today.</h1>
        </div>
      </div>
    </div>
{% endblock content %}
